<!-- Button trigger modal -->
<button type="button" id="dispararModal" style="display: none;" data-bs-toggle="modal" data-bs-target="#modalOpcaoTeste">
</button>

<!-- Modal -->
<div class="modal fade" id="modalOpcaoTeste" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{titulo}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{mensagem}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn botaoFechar" (click)="fecharModal('sim')">Sim</button>
        <button type="button" class="btn botaoFechar" (click)="fecharModal('nao')">Não</button>
      </div>
    </div>
  </div>
</div>
