<div class="container-fluid">

  <app-titulo-pagina [titulo]="titulo"></app-titulo-pagina>

  <div class="row">
    <form>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-2">
            <label for="pecasInput" class="fonte fomr-label">Placa:</label>
            <input name="pecasInput" type="text" class="form-control" mask="AAA-AAAA" (keyup)="this.filtro = identPlaca.value" #identPlaca/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row p-5">
    <div class="col-lg-12 table-responsive" *ngIf="listaVeiculos.length !== 0">
      <table class="table table-light table-hover fonte ">
        <thead>
          <tr class="table-dark">
            <th scope="col"></th>
            <th scope="col">Placa</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Ano de Fabricação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (listaVeiculos | filtroTabelaVeiculos: filtro)">
            <th scope="row"><input type="radio" name="radioTabela" (click)="getVeiculo(item)"></th>
            <td>{{item.placa | mask: "AAA-AAAA"}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.anoFabricacao}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="listaVeiculos.length === 0" class="text-center fonte"> Cadastre um Veículo! </div>
  </div>

  <div class="row">
    <div style="display: flex; justify-content: space-between; margin-top: 0.5em;" class="col-lg-12">
      <div style="display: flex;">
        <button type="button" class="btn btn-rodape fonte" (click)="cadastro()">CADASTRAR</button>
        <button type="button" class="btn btn-rodape fonte" [disabled]="desabilitaBotoes" (click)="alteracao()">ALTERAR</button>
        <button type="button" class="btn btn-rodape fonte" [disabled]="desabilitaBotoes" (click)="detalhe()">DETALHAR</button>
        <button type="button" class="btn btn-rodape fonte" [disabled]="desabilitaBotoes" (click)="abrirModalOpcaoExcluir()">EXCLUIR</button>
        <button type="button" class="btn btn-rodape fonte" (click)="voltar()">VOLTAR</button>
      </div>
    </div>
  </div>
</div>


<app-modal-opcao #modalOpcao (event)="verificarExclusao($event)"></app-modal-opcao>